body{
  text-align: center;
  background-position: center;
  padding: 70px 0;
  font-family: sans-serif;
  background-color: #ffe6e6;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.todoListMain .header input{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
  border-radius: 8px;
}

.todoListMain .header button{
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;  background-color: #ffcc99;
  border-color: grey;
  color:white;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
}

.todoListMain .header button:hover{
  background-color: grey;
  color:white;
}

.todoListMain .theList li{
  color:white;
  background-color:#ffa64d;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

.todoListMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}

.theList li{
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  -webkit-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

ul.theList {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}
